#arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
    z-index: 50;
    display: none;
}

#authOutlet {
    width: 100%;
    background-color: #19aec2;
}

@media screen and (max-width: 767.98px) {
    #authOutlet div {
        border-radius: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    #authOutlet {
        width: 50%;
        background-color: white;
    }

    #arrow {
        display: inline-block;
    }
}