<div class="container-fluid mh-100 p-4 d-flex align-items-center justify-content-center background-primary">
    <div id="initial-view" class="">
        <div class="display-4 text-light">
            <strong class="animate__animated animate__fadeIn animate__slow">
                Welcome to QuickOrder !!
            </strong>
        </div>
        
        <div class="text-center w-100 mt-4 animate__animated animate__fadeInUp animate__delay-1s">
            <button type="button" class="btn btn-outline-dark"
            routerLink="/products">Visit the Catalogue</button>
        </div>
    </div>
</div>